@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes bounceIn {
  0% { opacity: 0; transform: scale(0.3); }
  50% { opacity: 1; transform: scale(1.05); }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scale-in {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.backface-hidden {  
  backface-visibility: hidden;  
}  

.rotate-y-180 {  
  transform: rotateY(180deg);  
}  

.perspective {  
  perspective: 1000px;  
}  

/* Personnalisation du scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Largeur du scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f472b6; /* Rose */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #ffe4e6; /* Rose clair */
}

.animate-fade-in-left { animation: fadeInLeft 1s ease-out; }
.animate-fade-in-right { animation: fadeInRight 1s ease-out; }
.animate-bounce-in-left { animation: bounceIn 1s; }
.animate-pulse-slow { animation: pulse 2s infinite; }
.animate-bounce-x { animation: bounce 1s infinite; }
.animate-blob { animation: blob 10s infinite; }
.animate-blob-reverse { animation: blob 10s infinite reverse; }

.animate-fade-in { animation: fade-in 0.2s ease-out; }
.animate-scale-in { animation: scale-in 0.2s ease-out; }
.transition-all {
  transition-property: all;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

